.login{
    width: 500px;
    min-height: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2px;
    background-color: #fff;

    .title{
        text-align: center;
        color: #5a6175;
    }

    .label{
        color: #5a6175;
        font-weight: 600;
        margin-top: 20px;
    }

    input{
        border: 1px solid #5a6175;
    }
    
    .error-message{
        color: red;
    }

    .accept-group{
        margin: 20px 0;
    }

    .btn-disabled{
        opacity: 0.5;
    }

    button{
        border: none;
        border-radius: 0;
    }
    .msg{
        color: green;
    }


}
