<h1 id="title" class="title">找回密码</h1>
<p class="sub-title">请输入电子邮箱，我们会发送修改密码链接到您的邮箱当中！</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">请输入电子邮箱:</label>
    <input nbInput
           [(ngModel)]="user.email"
           #email="ngModel"
           id="input-email"
           name="email"
           pattern=".+@.+\..+"
           placeholder="电子邮箱"
           autofocus
           fullWidth
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        电子邮箱不能为空！
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        电子邮箱格式不正确！
      </p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !requestPassForm.valid"
          [class.btn-pulse]="submitted">
    找回密码
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">返回登录</a></p>
  <p><a routerLink="../register" class="text-link">注册</a></p>
</section>
