<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/pages/auth/user']">用户</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
    </nav>
  </div>
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        修改用户
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm.value)">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">头像</label>
            <div class="col-sm-2">
              <img *ngIf="data.image==null" src="data:image/jpeg;base64,{{avatar}}" (click)="uploader.click()" class="rounded-circle" width="100"
                height="100">
              <img *ngIf="data.image!=null" [src]="data.image" (click)="uploader.click()" class="rounded-circle" width="100" height="100">
              <div class="clearfix">
                <a *ngIf="data.image!=null" class="btn btn-primary btn-sm  m-2 text-light" (click)="uploadAvatar()">上传</a>
                <a *ngIf="data.image!=null" class="btn btn-secondary btn-sm m-2" (click)="cancelAvatar()">取消</a>
              </div>
              <div class="file-upload">
                <input style="display: none" #uploader id="custom-input" type="file" (change)="fileChangeListener($event)">
              </div>
            </div>
            <div class="col-sm-4">
              <img-cropper *ngIf="canvas" #cropper [image]="data" [settings]="cropperSettings">
              </img-cropper>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">用户名</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="username" placeholder="用户名" [(ngModel)]="username" formControlName="username">
              <p><small>必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</small></p>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">密码</label>
            <div class="col-sm-4">
              {{password}}
            </div>
          </div>
          <hr>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-primary text-light">
              <li class="breadcrumb-item">个人信息</li>
            </ol>
          </nav>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">姓名</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="name" placeholder="姓名" [(ngModel)]="name" formControlName="name">
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">电子邮件</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="email" placeholder="电子邮件" [(ngModel)]="email" formControlName="email">
            </div>
          </div>
          <hr>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-primary text-light">
              <li class="breadcrumb-item">角色</li>
            </ol>
          </nav>
          <div class="form-group row">
            <nb-checkbox status="success" class="col-sm-4" [(ngModel)]="active" formControlName="active">是否有效</nb-checkbox>
          </div>
          <div class="form-group row">
            <nb-checkbox status="success" class="col-sm-4"  [(ngModel)]="state" formControlName="state">是否为管理员</nb-checkbox>
          </div>
          <div class="form-group row">
            <label for="role" class="col-sm-2 col-form-label">配置角色</label>
            <div class="col-sm-4">
              <ng-select [items]="roles" [multiple]="true" [closeOnSelect]="false" [searchable]="false" [selectableGroup]="true" [closeOnSelect]="false"
                bindLabel="description" placeholder="配置角色" [(ngModel)]="selectedRoles"  formControlName="selectedRoles">
              </ng-select>
            </div>
          </div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-primary text-light">
              <li class="breadcrumb-item">重要日期</li>
            </ol>
          </nav>
          <hr>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">加入时间</label>
            <div class="col-sm-4">
              {{createDate}}
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">上次登录</label>
            <div class="col-sm-4">
              {{lastDate}}
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="float-left">
              <a (click)="deleteUser(user.id)" class="btn btn-danger text-light">删除</a>
            </div>
            <div class="float-right">
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>